<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="aside(activePage)" class="sidebar-container">
    <div class="sidebar-header mb-5">
        <span class="logo-text">Admin</span><span class="logo-dot">.</span>
    </div>

    <nav class="nav flex-column gap-2">
        <a th:href="@{/admin/appointment-manage}" class="nav-link-custom d-flex align-items-center"
           th:classappend="${activePage == 'appointments' ? 'active-state' : ''}">
            <i class="bi bi-mic-fill me-3 fs-5"></i> Appointment management
        </a>

        <a th:href="@{/admin/manage-pet}" class="nav-link-custom d-flex align-items-center"
           th:classappend="${activePage == 'pets' ? 'active-state' : ''}">
            <i class="fa-solid fa-paw me-3 fs-5"></i>
            Pets Management
        </a>

        <a th:href="@{/admin/manage-product}" class="nav-link-custom d-flex align-items-center"
           th:classappend="${activePage == 'products' ? 'active-state' : ''}">
            <i class="fa-solid fa-box me-3 fs-5"></i>
            Products Management
        </a>

        <a th:href="@{/admin/customer-manage}" class="nav-link-custom d-flex align-items-center"
           th:classappend="${activePage == 'customers' ? 'active-state' : ''}">
            <i class="bi bi-people-fill me-3 fs-5"></i> Customers
        </a>

        <a th:href="@{/admin/staff-manage}" class="nav-link-custom d-flex align-items-center"
           th:classappend="${activePage == 'staffs' ? 'active-state' : ''}">
            <i class="bi bi-person-badge-fill me-3 fs-5"></i> Staff Management
        </a>
    </nav>
</div>

</body>
</html>